@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format("truetype");
    font-style: italic;
}
@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format("truetype");
    font-style: normal;
    /* font-weight: 500 800; */
}

:root{
--Yellow: hsl(47, 88%, 63%);
--White: hsl(0, 0%, 100%);
--Gray-500: hsl(0, 0%, 42%);
--Gray-950: hsl(0, 0%, 7%);
}



*{
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body{
    margin: 0;
    font-size: 16px;
    font-family: 'Figtree';

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


/* Visually hide h1 but keep it available for screen readers */
.visually-hidden {
    position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* =============================== */
/* Typography and color schemes */

body, .highlight{
    background-color: var(--Yellow);
}

.box{
    background-color: var(--White);
}

.highlight, .author>span{
    font-weight: 800;
}

.author>span{
    color: var(--Gray-950);
}

article>p{
    color: var(--Gray-500);
}

/* =========================== */
/* Responsive sizes */
.card{
    max-width: 90%;
}

.box{
    padding: 2rem;
}

.img-cover{
    margin: 0;
}

.img-cover>img{
    width: 100%;
}

.author{
    display: flex;
    align-items: center;
}

.profile-pic{
    margin-right: 1rem;
    width: 15%;
}

.profile-pic>img{
    width: 100%;
}




footer{
    padding-top: 1rem;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }