
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500;1,600&display=swap');

*{
    box-sizing: border-box;
    --imported-font-family: "Barlow Semi Condensed", sans-serif;

    // Primary
    --Purple-50: hsl(260, 100%, 95%);
    --Purple-300: hsl(264, 82%, 80%);
    --Purple-500: hsl(263, 55%, 52%);

    // Neutral
    --White: hsl(0, 0%, 100%);
    --Grey-100: hsl(214, 17%, 92%);
    --Grey-200: hsl(0, 0%, 81%);
    --Grey-400: hsl(224, 10%, 45%);
    --Grey-500: hsl(217, 19%, 35%);
    --Dark-blue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);
    font-size: 13px;
}

/* Visually hide h1 but keep it available for screen readers */
.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }

// Typography ==============================

body{
    
    font-family: var(--imported-font-family);
    font-weight: 500;
}

.profile__name, .card__text--bold{
    font-weight: 600;
}

.profile__designation{
    // 11px
    font-size: 0.846rem;
}

.card__text--bold{
    //20px
    font-size: 1.538rem;
}

// Color schemes ======================================

.container{
    background-color: var(--Grey-100);
}

@mixin setProfileFontColor($p_name, $p_designation){
    .profile__name{
        color: $p_name;
    }
    .profile__designation{
        color: $p_designation;
    }
}

@mixin setCardTextColor($txt_bold, $txt_reg){

    .card__text--bold{
        color: $txt_bold;
    }
    .card__text--regular{
        color: $txt_reg;
    }
}

.container{
    > article:nth-child(1){
        // setProfileFontColor($p_name, $p_designation)
        // setCardTextColor($txt_bold, $txt_reg)
        @include setProfileFontColor(var(--White), var(--Purple-50)); 
        @include setCardTextColor(var(--White), var(--Purple-50)) ;
        background-color: var(--Purple-500);
    }

    > article:nth-child(2){
        @include setProfileFontColor(var(--White),var(--Grey-200));
        @include setCardTextColor(var(--White) ,var(--Grey-100));
        background-color: var(--Grey-500);

    }

    > article:nth-child(3), > article:nth-child(5){
        // setProfileFontColor($p_name, $p_designation)
        // setCardTextColor($txt_bold, $txt_reg)
        @include setProfileFontColor(var(--Grey-500),var(--Grey-200));
        @include setCardTextColor(var(--Grey-500) , var(--Grey-400));
        background-color: var(--White);
        
    }

    > article:nth-child(4){
        @include setProfileFontColor(var(--White), var(--Grey-400));
        @include setCardTextColor(var(--Grey-200), var(--Grey-100));
        background-color: var(--Dark-blue);
    }
}


// Margin and padding ======================================
body{
    margin: 0;
}
.container{
    padding: 3rem;
    .card{
        padding:2rem;
    
        .profile{
            margin: 0;
            .profile__name{
                margin-bottom: 0;
            }
            .profile__designation{
                margin-top: 0;
            }
        }
    
    }
}

// Layout for mobile screens ============================================

.container{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 2rem;

    .card:nth-child(1) {
        position: relative;
        z-index: 1;
        .profile{
            .quote-img{
                position: absolute;
                top:15px;
                right:  50px;
                opacity: 80%;
                z-index: 0;
            }
        }
        .card__text--bold{
            position: relative;
            z-index: 1;
        }
    }

    .card{
        max-width: 480px;
        border-radius: 10px;

        .profile{
            display: flex;
            align-items: center;
            gap:1rem;

            .profile__avatar{
                border-radius:50%;
            }
            .border-highlighter{
                border: 2.5px solid var(--Purple-300);
            }
        }
    }

    
}

// Layout for mid-sized screens ============================================
/* @media screen and (min-width:768px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(280px, 1fr);
        grid-template-areas: "card-1 card-1"
                             "card-2 card-3"
                             "card-4 card-4"
                             "card-5 card-5";
        .card{
            max-width: 100%;
            height: 100%;
        }
        .card-1{
            grid-area: card-1;
        }
        .card-2{
            grid-area: card-2;
        }
        .card-3{
            grid-area: card-3;
        }
        .card-4{
            grid-area: card-4;
        }
        .card-5{
            grid-area: card-5;
        }
    }
} */

// Layout for large screens ============================================
/* @media screen and (min-width:1000px) {
    // max-width: 85em;
    .container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: none;
        
        .card-1{
            grid-column: 1 / span 2;
            grid-row: 1 / span 1;
        }
        .card-2{
            grid-column: 3 / span 1;
            grid-row: 1 / span 1;
        }
        .card-5{
            grid-column: 4 / span 1;
            grid-row: 1 / span 2;
            
        }
        .card-3{
            grid-column: 1 / span 1;
            grid-row: 2 / span 1;
            
        }
        .card-4{
            grid-column: 2 / span 2;
            grid-row: 2 / span 1;
           
        }
    }
} */



footer{
    margin: 2rem;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }