
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500;1,600&display=swap');

*{
    box-sizing: border-box;
    --imported-font-family: "Barlow Semi Condensed", sans-serif;

    // Primary
    --Purple-50: hsl(260, 100%, 95%);
    --Purple-300: hsl(264, 82%, 80%);
    --Purple-500: hsl(263, 55%, 52%);

    // Neutral
    --White: hsl(0, 0%, 100%);
    --Grey-100: hsl(214, 17%, 92%);
    --Grey-200: hsl(0, 0%, 81%);
    --Grey-400: hsl(224, 10%, 45%);
    --Grey-500: hsl(217, 19%, 35%);
    --Dark-blue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);
    font-size: 13px;
}


// Typography ==============================

body{
    
    font-family: var(--imported-font-family);
    font-weight: 500;
}

.profile__name, .card__text--bold{
    font-weight: 600;
}

.profile__designation{
    // 11px
    font-size: 0.846rem;
}

.card__text--bold{
    //20px
    font-size: 1.538rem;
}

// Color schemes ======================================

@mixin setProfileFontColor($p_name, $p_designation){
    .profile__name{
        color: $p_name;
    }
    .profile__designation{
        color: $p_designation;
    }
}

@mixin setCardTextColor($txt_bold, $txt_reg){

    .card__text--bold{
        color: $txt_bold;
    }
    .card__text--regular{
        color: $txt_reg;
    }
}

.container{
    > article:nth-child(1){
        // setProfileFontColor($p_name, $p_designation)
        // setCardTextColor($txt_bold, $txt_reg)
        @include setProfileFontColor(var(--White), var(--Purple-50)); 
        @include setCardTextColor(var(--White), var(--Purple-50)) ;
        background-color: var(--Purple-500);
        
        // .profile__name{
        //     color: var(--White);
        // }
        // .profile__designation{
        //     color: var(--Purple-50);
        // }

        // .card__text--bold{
        //     color: var(--White);
        // }
        // .card__text--regular{
        //     color: var(--Purple-50);
        // }
    }

    > article:nth-child(2){
        // setProfileFontColor($p_name, $p_designation)
        // setCardTextColor($txt_bold, $txt_reg)
        @include setProfileFontColor(var(--White),var(--Grey-200));
        @include setCardTextColor(var(--White) ,var(--Grey-100));
        background-color: var(--Grey-500);

    }

    > article:nth-child(3), > article:nth-child(5){
        // setProfileFontColor($p_name, $p_designation)
        // setCardTextColor($txt_bold, $txt_reg)
        @include setProfileFontColor(var(--Grey-500),var(--Grey-200));
        @include setCardTextColor(var(--Grey-500) , var(--Grey-400));
        background-color: var(--White);
        
    }

    > article:nth-child(4){
        // setProfileFontColor($p_name, $p_designation)
        // setCardTextColor($txt_bold, $txt_reg)
        @include setProfileFontColor(var(--White), var(--Grey-400));
        @include setCardTextColor(var(--Grey-200), var(--Grey-100));
        background-color: var(--Dark-blue);
    }
}


// Margin and padding ======================================
.card{
    padding:2rem;

    .profile__name{
        margin-bottom: 0;
    }
    .profile__designation{
        margin-top: 0;
    }

}



footer{
    margin-top: 2rem;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }