// Footer ====================

.dev-info {
  background-color: var(--gray-200);
}

.attribution {
  // font-size: 11px;
  font-size: 0.75rem;
  text-align: center;
  padding: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}