/* Typography and color ====================== */
body {
  font-size: 13px;
  font-family: var(--base-font);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  color: var(--gray-500);
}

.card__text > h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  color: var(--gray-900);
}

.card__author-name {
  font-weight: bold;
  color: var(--gray-900);
}

.card__date {
  color: var(--gray-400);
}