@import "https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500;1,600&display=swap";
* {
  box-sizing: border-box;
  --imported-font-family: "Barlow Semi Condensed", sans-serif;
  --Purple-50: #eee6ff;
  --Purple-300: #c4a2f6;
  --Purple-500: #7541c8;
  --White: #fff;
  --Grey-100: #e7eaee;
  --Grey-200: #cfcfcf;
  --Grey-400: #676d7e;
  --Grey-500: #48556a;
  --Dark-blue: #19212e;
  --Black: #121212;
  font-size: 13px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  overflow: hidden !important;
}

body {
  font-family: var(--imported-font-family);
  font-weight: 500;
}

.profile__name, .card__text--bold {
  font-weight: 600;
}

.profile__designation {
  font-size: .846rem;
}

.card__text--bold {
  font-size: 1.538rem;
}

.container {
  background-color: var(--Grey-100);
}

.cards-wrapper > article:first-child {
  background-color: var(--Purple-500);
}

.cards-wrapper > article:first-child .profile__name {
  color: var(--White);
}

.cards-wrapper > article:first-child .profile__designation {
  color: var(--Purple-50);
}

.cards-wrapper > article:first-child .card__text--bold {
  color: var(--White);
}

.cards-wrapper > article:first-child .card__text--regular {
  color: var(--Purple-50);
}

.cards-wrapper > article:nth-child(2) {
  background-color: var(--Grey-500);
}

.cards-wrapper > article:nth-child(2) .profile__name {
  color: var(--White);
}

.cards-wrapper > article:nth-child(2) .profile__designation {
  color: var(--Grey-200);
}

.cards-wrapper > article:nth-child(2) .card__text--bold {
  color: var(--White);
}

.cards-wrapper > article:nth-child(2) .card__text--regular {
  color: var(--Grey-100);
}

.cards-wrapper > article:nth-child(3), .cards-wrapper > article:nth-child(5) {
  background-color: var(--White);
}

.cards-wrapper > article:nth-child(3) .profile__name, .cards-wrapper > article:nth-child(5) .profile__name {
  color: var(--Grey-500);
}

.cards-wrapper > article:nth-child(3) .profile__designation, .cards-wrapper > article:nth-child(5) .profile__designation {
  color: var(--Grey-200);
}

.cards-wrapper > article:nth-child(3) .card__text--bold, .cards-wrapper > article:nth-child(5) .card__text--bold {
  color: var(--Grey-500);
}

.cards-wrapper > article:nth-child(3) .card__text--regular, .cards-wrapper > article:nth-child(5) .card__text--regular {
  color: var(--Grey-400);
}

.cards-wrapper > article:nth-child(4) {
  background-color: var(--Dark-blue);
}

.cards-wrapper > article:nth-child(4) .profile__name {
  color: var(--White);
}

.cards-wrapper > article:nth-child(4) .profile__designation {
  color: var(--Grey-400);
}

.cards-wrapper > article:nth-child(4) .card__text--bold {
  color: var(--Grey-200);
}

.cards-wrapper > article:nth-child(4) .card__text--regular {
  color: var(--Grey-100);
}

body {
  margin: 0;
}

.cards-wrapper {
  padding: 3rem;
}

.cards-wrapper .card {
  padding: 2rem;
}

.cards-wrapper .card .profile {
  margin: 0;
}

.cards-wrapper .card .profile .profile__name {
  margin-bottom: 0;
}

.cards-wrapper .card .profile .profile__designation {
  margin-top: 0;
}

.card:first-child {
  grid-area: one;
}

.card:nth-child(2) {
  grid-area: two;
}

.card:nth-child(3) {
  grid-area: three;
}

.card:nth-child(4) {
  grid-area: four;
}

.card:nth-child(5) {
  grid-area: five;
}

.cards-wrapper {
  grid-template-areas: "one"
                       "two"
                       "three"
                       "four"
                       "five";
  place-items: center;
  gap: 2rem;
  display: grid;
}

.cards-wrapper .card-1 {
  z-index: 1;
  position: relative;
}

.cards-wrapper .card-1 .profile .quote-img {
  opacity: .8;
  z-index: 0;
  position: absolute;
  top: 15px;
  right: 50px;
}

.cards-wrapper .card-1 .card__text--bold {
  z-index: 1;
  position: relative;
}

.cards-wrapper .card {
  border-radius: 10px;
  max-width: 480px;
}

.cards-wrapper .card .profile {
  align-items: center;
  gap: 1rem;
  display: flex;
}

.cards-wrapper .card .profile .profile__avatar {
  border-radius: 50%;
}

.cards-wrapper .card .profile .border-highlighter {
  border: 2.5px solid var(--Purple-300);
}

@media screen and (width >= 768px) {
  .cards-wrapper {
    grid-template-areas: "one one"
                         "two three"
                         "four four"
                         "five five";
    grid-auto-rows: minmax(280px, 1fr);
  }

  .cards-wrapper .card {
    max-width: unset;
    height: 100%;
  }
}

@media screen and (width >= 1000px) {
  .cards-wrapper {
    grid-template-areas: "one one two five"
                         "three four four five";
    max-width: 1400px;
    margin: 0 auto;
  }
}

footer {
  margin: 2rem;
}

.attribution {
  text-align: center;
  font-size: 11px;
}

.attribution a {
  color: #3e52a3;
}
