@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root{
    --primary-lyt: hsl(158, 36%, 37%);
    --primary-dark: hsl(158, 42%, 18%);
    --neutral-1: hsl(0, 0%, 100%);
    --neutral-2: hsl(30, 38%, 92%);
    --neutral-3:hsl(228, 12%, 48%);
    --neutral-4: hsl(212, 21%, 14%);
}


// Color Scheme
body{
    background-color: var(--neutral-2);
    color: var(--neutral-3);
}

.content{
    background-color: var(--neutral-1);
    
    .content__heading{
        color: var(--neutral-4);
    }

    .discount-price{
        color: var(--primary-lyt);
    }

    .btn-add2cart{
        background-color: var(--primary-lyt);
        
        &:hover{
            background-color: var(--primary-dark);
        }
        a{
            color:var(--neutral-1);
        }
    }
}


// Typography
body{
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.content{
    &__tag{
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        font-size: 12px;
    }

    &__heading{
        text-transform: capitalize;

    }

    &__heading, .discount-price{
        font-family: "Fraunces", serif;
        font-weight: 700;
        font-size: 32px;
    }

    
}

 