/*  */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500..600&display=swap");

:root {
  --base-font: "Manrope", sans-serif;
  --gray-200: hsl(210, 46%, 95%);
  --gray-400: hsl(212, 23%, 69%);
  --gray-500: hsl(214, 17%, 51%);
  --gray-900: hsl(217, 19%, 35%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Typography and color ====================== */
body {
  font-size: 13px;
  font-family: var(--base-font);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  color: var(--gray-500);
}

.card__text > h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  color: var(--gray-900);
}

.author-name {
  font-weight: bold;
  color: var(--gray-900);
}

.article-date {
  color: var(--gray-400);
}

// =================================

// =================================

.card__fig {
  margin: 0;
  &__img {
    width: 100%;
  }
}

.card__text {
  padding: 1rem;
}

.card__text__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 0;
}

.card__text__footer__author-details {
  display: flex;

  &__fig {
    margin: 0;
    max-width: 15%;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  &__text {
    margin-left: 2rem;
  }
}

.author-name{
    margin: 0;
}

.article-date{
    margin-top: 0;
}

.share {
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--gray-200);
  opacity: 0.75;
}






// Footer ====================

footer{
    background-color: var(--gray-200);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
