:root{

    font-size: 16px;

}

@font-face {
    font-family:'Outfit' ;
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format("truetype");;
  } 

@font-face {
    font-family:'YoungSerif' ;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");;
    font-weight: normal;
  } 


* {
  /* border: 1px solid red; */
  box-sizing: border-box;
}

/* Visually hide h1 but keep it available for screen readers */
.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}


body{
    margin: 0;
    
}

/* ===================================== */
/* Typography */

body{
    font-family: 'Outfit',sans-serif;
}

.intro>h2, .sub-heading{
    font-family: 'YoungSerif',sans-serif;
}

.bold-text{
    font-weight: bold;
}
/* ====================================== */

.recipe-content{
    padding: 2rem;
}

.fig-block {
    margin: 0;
    padding: 0;
}

#cover-img{
    width: 100%;
}

.nutrition-tbl{
    width: 100%;
}



footer {
  padding-top: 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
